node_modules/
.expo/
dist/
*.log

# Dossiers natifs régénérés automatiquement par prebuild en CI
/android/
/ios/

# Fichiers générés locaux
.expo-shared/
*.orig.*
.webpack/cache

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Journaux
npm-debug.log*
yarn-debug.log*
yarn-error.log*
